<div class="question-detail">
  <h3 id="bord"> by {{question.author}}</h3>
  <h3>About {{question.content}}</h3>
  <p id="spacing-notes"><strong>Additional Notes:</strong>   {{question.notes}}</p>

  <div class="answer-detail">
    <h4>Response to "{{question.question}}"</h4>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </div>
  <br>
  <button class="btn btn-success"{{action 'delete' question}}>Delete</button>
  <br>
</div>
