{{#if updateQuestionForm}}
  <div>
    <form class="form-larger">
      <h4>Update {{question.question}} by {{question.author}}</h4>
      <div class="form-group">
        <label for="author">Update Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="update-question">Update Question</label>
        {{input value=update-question id="update-question" placeholder=question.question}}
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="notes">Update Additional Notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button class="btn btn-default"{{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-success"{{action 'updateQuestionForm'}}>Update Question</button>
{{/if}}
