<div class="question-details">
  <h2>{{model.question}}</h2>
  <h3>{{model.author}}</h3>
  <h4>{{model.content}}</h4>
  <p><strong>Notes:</strong>   {{model.notes}}</p>
  <!-- {{question-detail question=model destroyQuestion="destroyQuestion"}}

  <br> -->

  <!-- {{update-question question=model update="update"}} -->
</div>
